<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ APP_CODE }}</title>
    <link
      href="https://magicbox.bk.tencent.com/static_api/v3/components_vue/2.0/bk-magic-vue.min.css"
      rel="stylesheet"
    />
    <link
      href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css"
      rel="stylesheet"
    />
    <style>
      #app {
        position: fixed;
        left: 220px;
        top: 20px;
        right: 20px;
        bottom: 0;
        overflow: auto;
      }
    </style>
  </head>

  <body>
    <div class="king-vertical-nav6 king-full-height" style="width: 200px">
      <div class="nav-header">
        <span class="glyphicon glyphicon-cloud logo"></span>Demo
      </div>
      <ul class="nav-list">
        <li>
          <a href="{{ SITE_URL }}" title="脚本管理">
            <i class="sidebar_icon icon_devel"></i>脚本管理
          </a>
        </li>
        <li>
          <a href="{{ SITE_URL }}exec_script" title="执行脚本">
            <i class="sidebar_icon icon_devel"></i>执行脚本
          </a>
        </li>
        <li>
          <a href="{{ SITE_URL }}script_job" title="脚本任务日志">
            <i class="sidebar_icon icon_devel"></i>脚本任务日志
          </a>
        </li>
      </ul>
    </div>
    {% verbatim %}
    <div id="app">
      <bk-form form-type="inline">
        <bk-form-item label="脚本名称">
          <bk-input v-model="nameScript" style="width: 150px"></bk-input>
        </bk-form-item>
        <bk-form-item label="脚本来源">
          <bk-select v-model="souceScript" style="width: 150px">
            <bk-option
              v-for="o in souceType"
              :key="o.id"
              :id="o.id"
              :name="o.name"
            >
            </bk-option>
          </bk-select>
        </bk-form-item>
        <bk-form-item>
          <bk-button @click.stop.prevent="get_list" theme="primary"
            >查询</bk-button
          >
        </bk-form-item>
        <bk-form-item>
          <bk-button @click.stop.prevent="add" theme="success">新增</bk-button>
        </bk-form-item>
        <bk-form-item>
          <bk-popconfirm trigger="click">
            <bk-button @click.stop.prevent="synceToTable" theme="warning"
              >同步蓝鲸脚本到本地</bk-button
            >
          </bk-popconfirm>
        </bk-form-item>
      </bk-form>

      <hr />

      <bk-table
        :data="scriptList"
        :pagination="pagination"
        @page-change="handlePageChange"
        @page-limit-change="handlePageLimitChange"
      >
        <bk-table-column label="ID" width="100" prop="id"></bk-table-column>
        <bk-table-column label="来源" width="80" prop="souceScipt">
          <template slot-scope="scope">
            <span>{{ scope.row.public ? '蓝鲸' : '自定义' }}</span>
          </template>
        </bk-table-column>
        <bk-table-column label="类型" width="150" prop="type">
          <template slot-scope="scope">
            <span>{{ typeDic[scope.row.type] }}</span>
          </template>
        </bk-table-column>
        <bk-table-column label="名称" width="160" prop="name"></bk-table-column>
        <bk-table-column label="内容" width="330" prop="content">
          <template slot-scope="scope">
            <bk-input
              :disabled="true"
              :type="'textarea'"
              :rows="3"
              v-model="scope.row.content"
            >
            </bk-input>
          </template>
        </bk-table-column>
        <bk-table-column label="创建时间" prop="create_time"></bk-table-column>
        <bk-table-column label="操作" width="170" prop="bk_biz_name">
          <template v-if="souceScript !==3 && btnFlag" slot-scope="scope">
            <span>
              <bk-button @click.stop.prevent="edit(scope.row)" theme="primary"
                >修改</bk-button
              >
              <bk-button @click.stop.prevent="delItem(scope.row)" theme="danger"
                >删除</bk-button
              >
            </span>
          </template>
        </bk-table-column>
      </bk-table>

      <bk-dialog
        v-model="showadd"
        theme="primary"
        title="新增脚本"
        :show-footer="false"
      >
        <bk-form :label-width="80">
          <bk-form-item label="名字">
            <bk-input v-model="name" style="width: 250px"></bk-input>
          </bk-form-item>
          <bk-form-item label="内容">
            <bk-input
              v-model="content_script"
              type="textarea"
              style="width: 250px"
            ></bk-input>
          </bk-form-item>
          <bk-form-item label="类型">
            <bk-select v-model="type" style="width: 250px">
              <bk-option
                v-for="script in script_types"
                :key="script.id"
                :id="script.id"
                :name="script.name"
              >
              </bk-option>
            </bk-select>
          </bk-form-item>
          <bk-form-item>
            <bk-button @click.stop.prevent="confirm" theme="primary"
              >新增</bk-button
            >
          </bk-form-item>
        </bk-form>
      </bk-dialog>
    </div>
    {% endverbatim %}
  </body>
  <script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>
  <script src="https://magicbox.bk.tencent.com/static_api/v3/components_vue/2.0/bk-magic-vue.min.js"></script>
  <!-- 这个是全局配置，如果需要在js中使用app_code和site_url,则这个javascript片段一定要保留 -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
  <script type="text/javascript">
    var app_code = "{{ APP_CODE }}"; // 在蓝鲸系统里面注册的"应用编码"
    var site_url = "{{ SITE_URL }}"; // app的url前缀,在ajax调用的时候，应该加上该前缀
    var remote_static_url = "{{ REMOTE_STATIC_URL }}"; //远程资源链接，403页面需要，不要删除
    var debug_mode = JSON.parse("{{ DEBUG }}"); // 是否调试模式
    var csrf_token = "{{ csrf_token }}";
    axios.defaults.headers.common["X-CSRFToken"] = csrf_token;
    axios.defaults.headers.post["Content-Type"] =
      "application/x-www-form-urlencoded";
  </script>
  <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}account/login.js?v={{ STATIC_VERSION }}"></script>
  <script src="{{ STATIC_URL }}js/csrftoken.js?v={{ STATIC_VERSION }}"></script>
  <script>
    $('.nav-list a[href="' + window.location.pathname + '"]').addClass(
      "active"
    );
  </script>
  <script>
    window.onload = function () {
      new Vue({
        el: "#app",
        data() {
          return {
            showadd: false,
            souceScript: 3,
            editOradd: null,
            postId: null,
            btnFlag: false,
            type: null,
            content_script: "",
            name: "",
            nameScript: null,
            souceType: [
              { id: 1, name: "全部" },
              { id: 2, name: "自定义" },
              { id: 3, name: "蓝鲸" },
            ],
            scriptList: [],
            pagination: {
              current: 1,
              count: 1,
              limit: 10,
            },
            typeDic: {
              1: "shell脚本",
              2: "bat脚本",
              3: "perl脚本",
              4: "python脚本",
              5: "Powershell脚本",
            },
            script_types: [
              { id: 1, name: "shell脚本" },
              { id: 2, name: "bat脚本" },
              { id: 3, name: "perl脚本" },
              { id: 4, name: "python脚本" },
              { id: 5, name: "Powershell脚本" },
            ],
          };
        },
        created() {
          this.get_script_list();
        },
        methods: {
          handlePageChange(page) {
            this.pagination.current = page;
            if (this.souceScript == 3) {
              this.get_script_list();
              this.btnFlag = false;
            } else {
              this.btnFlag = true;
              this.get_local_list();
            }
          },
          handlePageLimitChange() {
            this.pagination.limit = arguments[0];
            if (this.souceScript == 3) {
              this.get_script_list();
              this.btnFlag = false;
            } else {
              this.btnFlag = true;
              this.get_local_list();
            }
          },
          get_list() {
            if (this.souceScript == 3) {
              this.get_script_list();
              this.btnFlag = false;
            } else {
              this.btnFlag = true;
              this.get_local_list();
            }
          },
          get_local_list() {
            axios
              .post(
                `${site_url}api/get_local_list/`,
                Qs.stringify({
                  bk_biz_id: 4,
                  page: this.pagination.current,
                  pageSize: this.pagination.limit,
                  name: this.nameScript,
                  souceScript: 1,
                })
              )
              .then((res) => {
                if (res.data.code == -1) {
                  this.$bkMessage({ message: res.data.message });
                }
                this.scriptList = res.data.data;
                this.pagination.count = res.data.total;
              });
          },
          get_script_list() {
            axios
              .post(
                `${site_url}api/get_script_list/`,
                Qs.stringify({
                  bk_biz_id: 4,
                  page: this.pagination.current,
                  pageSize: this.pagination.limit,
                  return_script_content: true,
                })
              )
              .then((res) => {
                this.scriptList = res.data.data;
                this.pagination.count = res.data.data.length;
              });
          },
          synceToTable() {
            axios
              .post(
                `${site_url}api/sync_local_db/`,
                Qs.stringify({
                  bk_biz_id: 4,
                  return_script_content: true,
                  page: this.pagination.current,
                  pageSize: this.pagination.limit,
                })
              )
              .then((res) => {
                this.$bkMessage({ message: res.data.message });
              });
          },
          add() {
            this.showadd = true;
            this.editOradd = 0;
          },
          edit(row) {
            this.editOradd = 1;
            this.showadd = true;
            this.name = row.name;
            this.type = row.type;
            this.content_script = row.content;
            this.postId = row.script_id;
          },
          delItem(row) {
            axios
              .post(
                `${site_url}api/remove_list/`,
                Qs.stringify({
                  id: row.script_id,
                })
              )
              .then((res) => {
                this.$bkMessage({ message: res.data.message });
                this.get_local_list();
              });
          },
          confirm() {
            var url = this.editOradd ? "api/update_list/" : "api/get_add/";
            var postData = {
              name: this.name,
              type: this.type,
              content: this.content_script,
              id: this.postId,
            };
            axios
              .post(`${site_url}${url}`, Qs.stringify(postData))
              .then((res) => {
                this.$bkMessage({ message: res.data.message });
                this.get_local_list();
                this.name = "";
                this.type = "";
                this.content_script = "";
                this.showadd = false;
              });
          },
        },
      });
    };
  </script>
</html>
